<% layout('/layouts/boilerplate') -%>
<body>
    <div class="row offset-2" >
        <div class="col-8">
            <h1 class="mb-3">Login to Wanderlust</h1>
            <form method="POST" action="/login" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input name="username" id="username" type="text" class="form-control" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Enter a Username
                    </div>
                </div>
        

                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input name="password" id="password" type="password" class="form-control" required>
                    <div class="valid-feedback">
                         Looks good!
                    </div>
                    <div class="invalid-feedback">
                            Enter a password
                    </div>
                </div>

                <button class="btn btn-dark add-btn" type="submit">Login</button>
                <a href="http://localhost:8080/signup" class="btn btn-secondary">SignUp</a>
            </form>
        </div>
    </div>
</body>