<% layout('/layouts/boilerplate') -%>
<body>
    <div class="row offset-2" >
        <div class="col-8">
        </br>
    <h2>Create a new Listing</h2>

    <form method="POST" action="/listing" class="needs-validation" novalidate enctype="multipart/form-data">
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input name="listing[title]" id="title" placeholder="Write a crazy title" type="text" class="form-control" required>
        <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
            Enter a Title
          </div>
    </div>
        
    <div class="mb-3">
        <label for="discription" class="form-label">Discription</label>
        <textarea name="listing[description]" id="discription" placeholder="Discribe your loaction" type="text" class="form-control" required></textarea>
        <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
            Enter a short discription
          </div>
    </div>

     <div class="mb-3 mt-3">
                <label for="category" class="form-label">Category</label><br>
                <select id="category" name="listing[category]" class="form-control" required>
                    <option value="Tranding">Tranding</option>
                    <option value="Iconic">Iconic</option>
                    <option value="Amazing Pool">Amazing Pool</option>
                    <option value="Beach">Beach</option>
                    <option value="Tropical">Tropical</option>
                    <option value="Mountain">Mountain</option>
                    <option value="Rooms">Rooms</option>
                    <option value="Boats">Boats</option>
                </select>
            </div>
        
        <div class="mb-3">
        <label for="image" class="form-label">Upload Image</label>
        <input name="listing[image]" id="image"  type="file" class="form-control" >
      </div>
        <div class="row">
        <div class="mb-3 col-md-4">
        <label for="price" class="form-label">Price</label>
        <input name="listing[price]" id="price" placeholder="Ex. 1200" type="number"  class="form-control" required>
        <div class="invalid-feedback">
            Price should be valid!
          </div>
    </div>
        
        <div class="mb-3 col-md-8">
        <label for="location" class="form-label">Location</label>
        <input name="listing[location]" id="location" placeholder="Ex. Gwalior,MP" type="text" class="form-control" required>
        <div class="invalid-feedback">
            Location should be valid!
          </div>
    </div>
</div>
        
        <div class="mb-3">
        <label for="country" class="form-label">Country</label>
        <input name="listing[country]" id="country" placeholder="Ex. India" type="text" class="form-control" required>
        <div class="invalid-feedback">
            Country should be valid!
          </div>
    
    </div>
        
        <button class="btn btn-dark add-btn" type="submit">Add listing</button>
        <a href="http://localhost:8080/listing/" class="btn btn-secondary"> Back to Home</a>
</br></br>

    </form>
</div>
</div>
    
</body>